body {
    background-color: #EEE;
    font-family: "Palatino Linotype", Palatino, Palladio, Baskerville, sans-serif;
}

code {
    background-color: beige;
}

pre {
    background-color: beige;
    margin-left: 1em;
    margin-right: 1em;  
}

.alert-info {
    color: steelblue;
}

.alert-success {
    color: green;
}

.alert-history {
    color: green;
    background-color: white;
}

.alert-danger {
    color: red;
}

.alert-dismiss {
    text-decoration: underline;
}

.alert-dismiss:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: lightgray;
}

.markdown-preview {
    max-width: 600px;
    min-width: 400px;
    background-color: whitesmoke;
}

#preview {
    word-wrap: break-word;
    word-break: break-word;
}

.li {
    margin: 20px 0 20px 0;
}

.li .id {
    text-transform: uppercase;
}

.li .datetime {
    color: #999;
    font-size: smaller;
}

.li .tags {
    color: #999;
    font-size: smaller;
}