body {
    background-color: #EEE;
    font-family: "Palatino Linotype", Palatino, Palladio, Baskerville, sans-serif;
}
a {
    text-decoration: none;
}
code {
    background-color: beige;
}

pre {
    background-color: beige;
    margin-left: 1em;
    margin-right: 1em;  
}
blockquote {
    background-color: aliceblue;
}

#head-buttons {
    display: inline;
    margin-left: 0.5em;
}

.alert-info {
    color: steelblue;
}

.alert-success {
    color: green;
}

.alert-history {
    color: green;
    background-color: white;
}

.alert-danger {
    color: red;
}

.alert-dismiss {
    text-decoration: underline;
}

.alert-dismiss:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: lightgray;
}

.markdown-preview {
    /* max-width: 600px;
    min-width: 400px; */
    background-color: whitesmoke;
}

#preview {
    word-wrap: break-word;
    word-break: break-word;
}

.li {
    color: #999;
    margin: 20px 0 20px 0;
}
.li .datetime {
    font-size: smaller;
}
.li .tags {
    font-size: smaller;
}
     
.li .id {
    text-transform: uppercase;
}
.li .buttons {
  display: none;
}
.li:hover .buttons {
  display: inline;
}

.deleted {
    font-size: smaller;
  color: #EEE;
  background-color: #999;
}
.protected {
    font-size: smaller;
    background-color: lightgreen;
}

#about-page-icon {
    cursor: pointer;
}
#about-page-info {
    color: #eee;
    background-color: darkseagreen;
}

footer {
    margin-top: 50px;
}
