body {
    font-family: "Palatino Linotype", Palatino, Palladio, Baskerville, sans-serif;
}

.SlimButton {
    margin: 0;
    margin-left: 5px;
    padding: 0 5px 0 5px;
}

#head-buttons {
    display: inline;
    margin-left: 2em;
}

#head-buttons a {
    cursor: pointer;
    margin: 0 0.5em 0 0.5em;
}

#note-info {
    color: #999;
    font-size: smaller;
}

.alerts {
    line-height: 0.25em;
    font-size: smaller;
}

.alerts p:first-of-type {
    font-size: larger;
}

.alerts p:nth-of-type(n+4) {
    color: gray;
}

.alert span + span {
    margin-left: 10px;
}

.alert-info {
    color: steelblue;
}

.alert-success {
    color: green;
}

.alert-danger {
    color: red;
}

.IconButton {
    cursor: pointer;
}

.InfoMessage {
    color: white;
    background-color: darkseagreen;
    padding: 0.25em;
    border-radius: 6px;
}

.LI {
    color: #999;
    margin-top: 1em;
}

.LI .Protected {
    font-size: smaller;
    color: #666;
    background-color: lightgreen;
    margin-left: 0.5em;
    padding: 0 2px 0 2px;
}
.LI .Deleted {
    font-size: smaller;
    color: white;
    background-color: #CCC;
    margin-left: 0.5em;
    padding: 0 2px 0 2px;
}

.LI .Datetime,
.LI .Tags,
.LI .ID_Date {
    font-size: smaller;
}

.ConfirmDelete {
    color: red;
    margin-left: 5px;
}

.Tag {
    margin-left: 0.5em;

    background: var(--background);
    color: var(--code);
    padding: 2.5px 5px;
    border-radius: 6px;
    font-family: monospace;
}

.Tag:hover {
    cursor: pointer;
    color: white;
    background-color: #999;
    text-decoration: none;
}

.Tag.Btn {
    background-color: lightblue;
}
.Tag.Btn:hover {
    background-color: steelblue;
}

.Buttons {
    margin-left: 5px;
}

.Buttons .Tag.Btn {
    color: #CCC;
    background-color: aliceblue;
} 
.LI:hover .Buttons .Tag.Btn {
    color: black;
    background-color: lightblue;
}
.LI:hover .Buttons .Tag.Btn:hover {
    color: white;
    background-color: steelblue;
}

.NoteContents {
    background-color: #FCFCFC;
}

.NoteContents code {
    padding: 0;
    background-color: linen;
}

.NoteContents pre>code {
    background: #EEE;
    margin-left: 0.5em;
    margin-right: 1em;
}

.Pointer {
    cursor: pointer;
}

.GroupsCount {
    color: grey;
}
