body {
    font-family: "Palatino Linotype", Palatino, Palladio, Baskerville, sans-serif;
}

.SlimButton {
    margin: 0;
    margin-left: 5px;
    padding: 0 5px 0 5px;
}

#head-buttons {
    display: inline;
    margin-left: 2em;
}

#head-buttons a {
    cursor: pointer;
    margin: 0 0.5em 0 0.5em;
}

.alerts {
    font-size: small;
}

.alerts :first-child {
    font-size: larger;
}

.alerts :nth-child(n+4) {
    color: gray;
}

.alert span + span {
    margin-left: 10px;
}

.alert-info {
    color: steelblue;
}

.alert-success {
    color: green;
}

.alert-danger {
    color: red;
}

.IconButton {
    cursor: pointer;
}

.InfoMessage {
    color: white;
    background-color: darkseagreen;
    padding: 0.25em;
    border-radius: 6px;
}

.LI {
    color: #999;
    margin-top: 1em;
}
.LI .Deleted {
    font-size: smaller;
    color: white;
    background-color: #CCC;
    margin-left: 0.5em;
    padding: 0 2px 0 2px;
}
.LI .ID_Date {
    font-size: smaller;
}
.LI .Tags {
    font-size: smaller;
}
.LI .Buttons {
    display: none;
    margin-left: 5px;
}
.LI:hover .Buttons {
    display: inline;
}

.ConfirmDelete {
    color: red;
    margin-left: 5px;
}

.Tag {
    margin-left: 0.5em;

    background: var(--background);
    color: var(--code);
    padding: 2.5px 5px;
    border-radius: 6px;
    font-family: monospace;
}

.Tag:hover {
    cursor: pointer;
    color: white;
    background-color: #999;
    text-decoration: none;
}

.TagButton {
    background-color: lightblue;
}
.TagButton:hover {
    background-color: steelblue;
}

.NoteContents {
    background-color: #FCFCFC;
}

.NoteContents code {
    padding: 0;
    background-color: linen;
}

.NoteContents pre>code {
    background: #EEE;
    margin-left: 0.5em;
    margin-right: 1em;
}
