body {
    font-family: "Palatino Linotype", Palatino, Palladio, Baskerville, sans-serif;
}

#head-buttons {
    display: inline;
    margin-left: 2em;
}

#head-buttons a {
    margin: 0 0.5em 0 0.5em;
}

.alerts {
    font-size: small;
}

.alerts :first-child {
    font-size: larger;
}

.alerts :nth-child(n+4) {
    color: gray;
}

.alert span + span {
    margin-left: 10px;
}

.alert-info {
    color: steelblue;
}

.alert-success {
    color: green;
}

.alert-danger {
    color: red;
}

.IconButton {
    cursor: pointer;
}

.InfoMessage {
    color: white;
    background-color: darkseagreen;
    padding: 0.25em;
}

.LI {
    color: #999;
    margin-top: 1em;
}
.LI .Deleted {
    font-size: smaller;
    color: white;
    background-color: #CCC;
    margin-left: 0.5em;
    padding: 0 2px 0 2px;
}
.LI .ID_Date {
    font-size: smaller;
}
.LI .Tags {
    font-size: smaller;
}
.LI .Buttons {
    display: none;
    margin-left: 5px;
}
.LI:hover .Buttons {
    display: inline;
}
.LI .Buttons button {
    margin: 0;
    margin-left: 5px;
    padding: 0 5px 0 5px;
}
.LI .Buttons .ConfirmMsg {
    color: red;
    margin-left: 5px;
}
